html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background: url('/static/images/back.png');
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  opacity: 0.8;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.search-button{
  height: 100px;
  width: 100px;
}

#id_categories li{
  display: inline;
  list-style-type: none;
}

#myCanvas {
        position: fixed;
        top: 50px;
        z-index:1;
}

.panel-image{
    height: 230px;
}

.panel-image img{
    max-height: 200px;
    margin: 0 auto;
}

.profile-header{
  float: right;
}

.home-text{
  pointer-events:none;
  margin-top: 200px;
  float: right;
  font-size: 300%;
}

.home-subtext{
  pointer-events:none;
  margin-top: 260px;
  float: right;
  font-size: 150%;
}

.disco{
  opacity:0.6;
}


.disco-text{
  font-size: 160%;

.like{
 width: 50px;
 height: 50px;
}

