{% extends "base.html" %}
{% load static %}
{% block page_title %}Popusti{% endblock %}
{% block page_header %}Popusti{% endblock %}
{% block page_body %}
	<table class="table table-hover"> 
		<tbody>
			{% for discount in object_list %}
				<tr height="80px">
					<td width="80%">{{ discount.text }}</td>
					<td>
						<br>
						<ul class="list-group">
						  <li class="list-group-item">Autor: {{ discount.user.user.username }}</li>
						  <li class="list-group-item">Objavljeno: {{ discount.date|date:"d.m.Y." }} u {{ discount.date|time:"H:i" }}</li>
						</ul>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}