{% extends "base.html" %}
{% load static %}
{% block page_title %}Akcije{% endblock %}
{% block page_header %}Akcije {% if user.is_authenticated %}<a href="{% url 'discount_create' %}" class="btn btn-default">Dodaj akciju</a>{% endif %}{% endblock %}
{% block canvas %}{% endblock %}
{% block page_body %}
	{% if object_list %}
		<table class="table table-hover"> 
			<tbody>
				{% for discount in object_list %}
					<tr class="active disco" height="80px">
						<td width="80%" class="disco-text"><br>{{ discount.text|safe }}</td>
						<td>
							<br>
							<ul class="list-group">
							  <li class="list-group-item">Autor: {{ discount.user.user.username }}</li>
							  <li class="list-group-item">Objavljeno: {{ discount.date|date:"d.m.Y." }} u {{ discount.date|time:"H:i" }}</li>
							</ul>
						</td>
					</tr>
				{% empty %}
				Nema akcija zadnjih 7 dana :(
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-danger">Nema akcija u zadnjih 7 dana.</div>
	{% endif %}
{% endblock %}