{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block page_title %}{{ recipe.title }}{% endblock %}
{% block page_header %}{{ recipe.title }}<small> Autor: {{ recipe.user }}</small>{% endblock %}
{% block page_body %}
	<div class="row">
		<div class="col-md-4">
			{% if recipe.image %}
				{% thumbnail recipe.image "250x250" as im %}
				<img src="{{ im.url }}" class="img-rounded"/>
				{% endthumbnail %}
			{% else %}
				<img src="{% static 'images/noimage.jpg' %}" width="250" height="250"/>
			{% endif %}
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="row">
						<div class="col-md-5">
			  			<div class="well well-sm">Objavljeno: {{ recipe.date|date:"d.m.Y." }} u {{ recipe.date|time:"H:i" }}</div>
			  		</div>
			  	</div>
					{{ recipe.text|safe }}
			  </div>
			</div>
			<ul class="list-group">
			  <li class="list-group-item">Tagovi: 
			  	{% for t in tags %}
			  		<span class="label label-danger">{{t.name}}</span>
			  	{% endfor %}
			  	</li>
			  <li class="list-group-item">Kategorije: 
			  	{% for c in categories %}
			  		<span class="label label-warning">{{c.name}}</span>
			  	{% endfor %}
			  </li>
			</ul>
		</div>
	</div>
	
	<div id="toreload">
            <input type="hidden" id="rp_id" name="id" value="{{recipe.id}}" />
            <p><a href="#" id="like" class="btn btn-default btn-lg {% if is_liked %}disabled{% endif %}" role="button">
                <img src="{% static 'images/like.png' %}" class="like" width="50px" height="50px" />
            </a></p>
        </div>

{% endblock %}
{% block customjs %}
    <script src="{% static 'js/recipe_detail.js' %}"></script>
{% endblock %}