{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block page_title %}Pretraga{% endblock %}
{% block page_header %}Pretraga recepata{% endblock %}
{% block canvas %}{% endblock %}
{% block page_body %}
	<div class="panel panel-default">
    <div class="panel-body">
    	<div class="row">
        <form method="GET" role="form">
        	<div class="col-md-10">
				{{ form.as_table }}
			</div>
			<div class="col-md-2">
				<br>
				<button type="submit" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-search"></button>
			</div>
			</form>
			</div>
		</div>
	</div>
	{% if result %}
		{% for recipe in object_list %}
			{% if forloop.counter|divisibleby:"3" %}
				<div class="row">
			{% endif %}
			<div class="col-md-4 recipe-box">
				<a href="{% url 'recipe_detail' recipe.id %}">
				<div class="panel panel-default">
	  			<div class="panel-body panel-image">
	  				{% if recipe.image %}
			  			{% thumbnail recipe.image "250x250" as im %}
				        <img src="{{ im.url }}" class="img-rounded img-responsive"/>
				      {% endthumbnail %}
				    {% else %}
              <img src="{% static 'images/noimage.gif' %}" class="img-rounded img-responsive"/>
            {% endif %}
				  </div>
				  <div class="panel-footer">{{ recipe.title }}<span class="badge pull-right">{{ recipe.likes }} lajka</span></div>
				</div>
			</a>
			</div>
			{% if forloop.counter|divisibleby:"3" %}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}
{% block customjs %}
    <script src="{% static 'js/recipe_search.js' %}"></script>
{% endblock %}