{% extends "base.html" %}
{% load static %}
{% block page_title %}Pretraga{% endblock %}
{% block page_header %}Pretraga recepata{% endblock %}
{% block page_body %}
	<div class="panel panel-default">
    <div class="panel-body">
        <form method="GET" class="form-inline" role="form">
        	{% for field in form %}
		        <div class="form-group">
		            {{ field.errors }}
		            {{ field.label_tag }} {{ field }}
		        </div>
					{% endfor %}
				  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></button>
				</form>
	</div>
	{% if result %}
	<div>
		{% for recipe in object_list %}
			<img src="/media/{{ recipe.image }}" alt="slika"/>
			{{ recipe.title }}
		{% endfor %}
	</div>
	{% endif %}
	</div>
{% endblock %}