{% extends "base.html" %}
{% load static %}
{% block page_title %}{{ recipe.title }}{% endblock %}
{% block page_header %}{{ recipe.title }}<small> Autor: {{ recipe.user }}</small>{% endblock %}
{% block page_body %}
	<div class="row">
		<div class="col-md-4">
			<img src="{{ recipe.image.url }}" class="img-rounded"/>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="row">
						<div class="col-md-5">
			  			<div class="well well-sm">Objavljeno: {{ recipe.date|date:"d.m.Y." }} u {{ recipe.date|time:"H:i" }}</div>
			  		</div>
			  	</div>
					{{ recipe.title }}
			  </div>
			</div>
			<ul class="list-group">
			  <li class="list-group-item">Tagovi: <span class="label label-danger">Danger</span></li>
			  <li class="list-group-item">Kategorije: <span class="label label-warning">Danger</span></li>
			</ul>
		</div>
	</div>
{% endblock %}