{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block page_title %}{{ recipe.title }}{% endblock %}
{% block page_header %}{{ recipe.title }}<small> Autor: {{ recipe.user }}</small>{% endblock %}
{% block page_body %}
	<div class="row">
		<div class="col-md-4">
			{% thumbnail recipe.image "300x300" as im %}
        <img src="{{ im.url }}" class="img-rounded"/>
      {% endthumbnail %}
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="row">
						<div class="col-md-5">
			  			<div class="well well-sm">Objavljeno: {{ recipe.date|date:"d.m.Y." }} u {{ recipe.date|time:"H:i" }}</div>
			  		</div>
			  	</div>
					{{ recipe.text }}
			  </div>
			</div>
			<ul class="list-group">
			  <li class="list-group-item">Tagovi: 
			  	{% for t in tags %}
			  		<span class="label label-danger">{{t.name}}</span>
			  	{% endfor %}
			  	</li>
			  <li class="list-group-item">Kategorije: 
			  	{% for c in categories %}
			  		<span class="label label-warning">{{c.name}}</span>
			  	{% endfor %}
			  </li>
			</ul>
		</div>
	</div>
{% endblock %}