{% extends "base.html" %}
{% load static %}
{% block page_title %}Dodaj novi recept{% endblock %}
{% block page_header %}Dodaj novi recept{% endblock %}
{% block page_body %}
<div class="row">
	<div class="col-md-6">
			<div class="panel panel-default">
		    <div class="panel-body">
          <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
          	{% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-default pull-right">Spremi</button>
          </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block customjs %}
    <script src="{% static 'js/recipe_create.js' %}"></script>
{% endblock %}